@model User
@{
}

<h2 class="mt-5">User Login</h2>
<div class="w-100">
	<form method="post" class="">
		<fieldset class="">
			<legend>Login</legend>
			<!--Email-->
			<div class="my-2">
				<label for="Email">Email :</label>
				<input type="email" class="form-control w-25" name="Email" value="" />
			</div>
			<!--Password-->
			<div class="my-2">
				<label for="Password">Password : </label>
				<input type="password" class="form-control w-25" name="Password" value="" />
			</div>
			
			<div class="my-2 w-25 d-flex colmun align-items-center justify-content-evenly gap-2">
				<a class="btn btn-primary w-50 " type="submit" asp-controller="Auth" asp-action="Register">Register here</a>
				<a class="btn btn-outline-primary w-50" type="submit" asp-controller="Home" asp-action="Index">submit</a>
			</div>
		</fieldset>
	</form>

</div>

