@using StoreMVC.Models.Dto
@model UserCreateDto
@{
}

<div class="row">
	<div class="col-md-8  mx-auto rounded-2 border-5  p-3">
		<h2 class="text-center mb-3">Add new User</h2>

		<form method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<!--Name-->
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Name</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Name"/>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>
			<!--Email-->
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">E-Mail</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Email" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>
			<!--Password-->
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Password" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
			</div>
			<!--User Plan-->
			<div class="row mb-3">
				<label class="col-sm-4 col-form-label">User Plan</label>
				<div class="col-sm-8">
					<select class="form-select" asp-for="UserPlan">
						<option value="Pro">Pro</option>
						<option value="Free">Free</option>
					</select>
					<span asp-validation-for="UserPlan" class="text-danger"></span>
				</div>
			</div>
			<!--Created date-->
			<div class="row">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" asp-controller="User" asp-action="Index" role="button">Cancel</a>
				</div>
			</div>

		</form>

	</div>

</div> 