@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="mx-auto mt-5">
    <p class="mx-auto">@ViewData["Message"]</p>
    <p class="mx-auto">@ViewBag.Message</p>
    @* <div class="mx-auto my-3"> *@
    @*     @{ *@
    @*         var username = Context.Session.GetString("Username"); *@
    @*     } *@
    @*     <p class="mx-auto">@username</p> *@
    </div>

</div>